# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\david\Documents\IdeaProjects\TMCProjects\2017_avans_ti_breda-2D_Graphics-2020\TBLU tree view\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
